body{
	font-size: 25px;
}
p{
	font-size: 25px;
}
#link1{
	position: absolute;
	top: 51%;
	left: 50%;
	color: black;
	z-index: 10;
}

button{
	font-size: 40px;
}

#pointers-guide{
	float: left;
	margin-right: 50px;
}
#pointers-guide li{
		font-size: 30px;
}

#console{
	min-width: 500px;
	font-size: 25px;
}

#modal{
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
	transition: all .8s ease;
}

#demo-img{
	height: 90%;
	width: auto;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	will-change: transform;
	transform: translateY(-250px);
	transition: all .8s ease;
}

.rangeslider, input[type='range'] {
  max-width: 400px;
}

.rangeslider__handle {
  border-radius: 22px;
  min-width: 62px;
  line-height: 42px;
  text-align: center;
}

.rangeslider__handle:after {
	background: 0;
}
